.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 50px);
    grid-gap: 0px;
}

.cell {
    width: 50px;
    height: 50px; 
    border: 1px solid #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(var(--cols), 8vw);
    }

    .cell {
        width: 8vw; 
        height: 8vw;
    }
}